body {
  background-color: #606161;
}

.container {
  max-width: 97%;
}

header {
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  height: 700px;
}

.logo, h3, p, ul, .quote  {
  font-family: 'Open Sans', sans-serif;
}

.logo {
font-weight: 800;
color: #fff;
font-size: 48px;
margin-top: 30px;
}

h2 {
  margin-top: 60px;
  font-weight: bolder;
  color: #fff;
}

h1 h2 h3 p .btn {
  font-family: 'Open Sans', sans-serif;
}

.btn-warning {
  margin: 188px 528px;
font-weight: 800;
width: 280px;
font-size: 28px;
}

.benefits {
  background-color: #fff;
}

.quote {
  background-image: url(../images/testimonial_bg.jpg);
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  color: #fff;
}

.sign-up {
  background-color: #f9e42e;
}
