.boxes {
  border: black solid 2px;
  background-color: grey
}

.header .footer {
  height: 500px;
  width: 100%;
  margin: 20px;
}

.header {
  height: 100px;
}

.section {
  height: 500px;
  width: 69%;
  float: left;
  margin: 20px 5px;
}

.aside {
  height: 500px;
  width: 29%;
  float: right;
  margin: 20px 5px;
}

.footer {
  clear: both;
  height: 100px;
}
