.boxes {
  background-color: grey;
  border: 1px solid black;
}

.header {
  height: 100px;
  width: 100%;
  bottom margin: 10px;
}

.aside-left {
  height: 500px;
  width: 15%;
  float: left;
  margin: 5px 5px 5px 0px ;
}

.section {
  height: 500px;
  width: 68.35%;
  margin: 5px;
  float: inherit;
  display: inline-block;
}

.aside-right {
  height: 500px;
  width: 15%;
  float: right;
  margin: 5px 0px 5px 5px;
}

.footer {
  height: 100px;
  width: 100%;
}
