
header{

	border: black solid 5px;
	height: 400px;


}

section{

border: black solid 5px;
height: 400px;

}

aside {

	border: black solid 5px;
	height: 400px;
}

footer{
	border: black solid 5px;
	height: 400px;
	
}